<footer class="container" style="margin-bottom:4px;">
  <div class="row">
    <div class="col-md-4">
    <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span>{{site.twitter_username | escape}}</a>
    </div>
    <div class="col-md-4">
    <a href="https://github.com/{{site.github_username}}"><span class="icon icon--github">{% include icon-github.svg %}</span>{{site.github_username | escape}}</a>
    </div>
    <div class="col-md-4">
    Email - {{site.email}}
    </div>
    </div>
</footer>
