<!-- facebook app sdk -->
<div id="fb-root"></div>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=119100858616614";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk')); 

 window.fbAsyncInit = function() {
    FB.init({
      appId      : '119100858616614',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
    FB.Event.subscribe('edge.create', function(url, html_element) {
      ga('send', 'social', 'Facebook', 'like', url);
      console.log('Thanks for Liking!! :)')
    });
    FB.Event.subscribe('edge.remove',function(URL) {
      ga('send', 'social', 'Facebook', 'unlike', URL);
    }); 
};



</script>

<!-- twitter -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- Linked In -->
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

<!-- Google Plus -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>

</script>